
/*标题样式*/
#dataTable .head td {
    text-align: center;
    /*top: expression(this.offsetParent.scrollTop);
       position: relative;
       z-index: 80;*/
       background-color: #98C8F4;
    text-align:center;
    border-collapse:collapse;
    top: expression(this.parentElement.offsetParent.parentElement.scrollTop);
    position: relative; z-index:9999;
    /*font-weight:bold;*/
    letter-spacing:0.1em;
    border-top:1px solid #ccc;
    padding:5px 0px;
    text-align:center;
    white-space:nowrap;

}


#page li {
    float: left;
    width: 2em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    border: 1px solid #ccc;
    margin-left: 5px;
    cursor: pointer;
    list-style: none;
}

#page li.active {
    border: 1px solid #209ec7;
}
#dataTable {
/*table-layout:fixed;*/
/*position:relative;*/
border-collapse: collapse;
background-color:#ccc;
width:100%;

}
#dataTable td {
    cursor: pointer;
    /*word-break: break-all;*/
    text-align:left;
    border-right:1px solid #ccc;
    empty-cells: show;
    font-size:12px;
    vertical-align:middle;
    white-space:nowrap;
    height:20px;
    padding-left:3px;
    padding-right:3px;
}
.selectedtr {
background-color:#0f7eae !important;
}

 #dataTable .FixedDataColumn {
    text-align:left;
    border-collapse:collapse;
    text-wrap:none;
    white-space:nowrap;
    left: expression(this.parentElement.offsetParent.parentElement.scrollLeft);
    position: relative; z-index: 9998; 
    
}
  #dataTable  .head .FixedDataColumn {
z-index:999999;
}
 
.oddrow{
    background-color: #EAF3FA;
}
.evenrow{
    background-color:#D1E4F3;
}

span.circleNum{
    /* float:right; */
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: inline-block;
    background: #238ff9;
    vertical-align: top;
    font-size: 9px;
}
span.circleNum span{
    display: block;   
    color: #FFFFFF;  
    height: 16px;
    line-height: 16px;
    text-align: center

}
.SonItem{
    background-color: 	#B0E2FF!important;
}
#wrapper{
    border-radius: 10px;
    padding: 5px;
    border:1px solid #ccc;
 

}
#tableDiv{
    overflow: scroll;
    height: 340px;
    /*z-index:10000;*/
    position:relative;
}
#mao{
    clear: both;
}
#headDiv{
    margin-bottom: 2px;
}
#headDiv input {
width:80px;
border-radius:5px;
border:1px solid #ccc;


}
#headDiv span {
margin-left:30px;
}
#headDiv img{
    margin-left:5px;
    /*padding: 5px 10px;*/
    width:20px;
    height:20px;
    vertical-align:bottom;
    cursor:pointer;
}
#headDiv img:hover{
    color:#1B9AF7;
    cursor: pointer;
    overflow:hidden;
}
#ulDiv {
overflow:hidden;
zoom:1;
/*height:50px;*/
}
/*加载的点*/
   .dotting {
    display: inline-block; min-width: 2px; min-height: 2px;
    box-shadow: 2px 0 currentColor, 6px 0 currentColor, 10px 0 currentColor; 
    -webkit-animation: dot 4s infinite step-start both;
    animation: dot 4s infinite step-start both;
    *zoom: expression(this.innerHTML = '...'); /* IE7 */
}
.dotting:before { content: '...'; } /* IE8 */
.dotting::before { content: ''; }
:root .dotting { margin-right: 8px; } /* IE9+,FF,CH,OP,SF */

@-webkit-keyframes dot {
    25% { box-shadow: none; }
    50% { box-shadow: 2px 0 currentColor; }
    75% { box-shadow: 2px 0 currentColor, 6px 0 currentColor; }
}
@keyframes dot {
    25% { box-shadow: none; }
    50% { box-shadow: 2px 0 currentColor; }
    75% { box-shadow: 2px 0 currentColor, 6px 0 currentColor; }
}