
/*标题样式*/
.head td {
    text-align: center;
    /*top: expression(this.offsetParent.scrollTop);
       position: relative;
       z-index: 80;*/
       background-color: #98C8F4;
    text-align:center;
    border-collapse:collapse;
    top: expression(this.parentElement.offsetParent.parentElement.scrollTop);
    position: relative; z-index:9999;
    font-weight:bold;
    letter-spacing:0.1em;
    border-top:1px solid #fff;
    padding:10px 0px;
   
}


#page li {
    float: left;
    width: 2em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    border: 1px solid #ccc;
    margin-left: 5px;
    cursor: pointer;
    list-style: none;
}

    #page li.active {
        border: 1px solid #209ec7;
    }
#dataTable {
table-layout:fixed;
/*position:relative;*/
border-collapse: collapse;
background-color:#ccc;

}
#dataTable td {
    cursor: pointer;
    /*word-break: break-all;*/
    text-align:center;
    border-right:1px solid #ccc;
    empty-cells: show;
    font-size:14px;
    vertical-align:middle;
}
.selectedtr {
background-color:#98C8F4 !important;
}

 #dataTable .FixedDataColumn {
    text-align:center;
    border-collapse:collapse;
    text-wrap:none;
    white-space:nowrap;
    left: expression(this.parentElement.offsetParent.parentElement.scrollLeft);
    position: relative; z-index: 9998; 
    
}
  #dataTable  .head .FixedDataColumn {
z-index:999999;
}

.oddrow{
    background-color: #EAF3FA;
}
.evenrow{
    background-color:#D1E4F3;
}

span.circleNum{
    /* float:right; */
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: inline-block;
    background: #238ff9;
    vertical-align: top;
    font-size: 9px;
}
span.circleNum span{
    display: block;   
    color: #FFFFFF;  
    height: 16px;
    line-height: 16px;
    text-align: center

}
.SonItem{
    background-color: 	#B0E2FF!important;
}
#wrapper{
    border-radius: 10px;
    padding: 10px;
    border:1px solid #ccc;

}
#tableDiv{
    overflow: scroll;
    height: 400px;
}
#mao{
    clear: both;
}
#headDiv{
    margin-bottom: 5px;
}
#headDiv input {
width:40px;
border-radius:5px;
}
#headDiv span {
margin-left:30px;
}
